@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    font-size: 18px;
    background-color: rgb(225, 170, 236);
}

.cabecera {
    position: relative;
    background-color: beige;
    border: 3px solid black;
}

.icono {
    display: inline-block;
}

h1 {
    display: inline-block;
}

.barra {
    position: absolute;
    right: 0;
    bottom: calc(50% - 64px/2);
    display: inline-block;
}

.caja {
    display: inline-block;
}

h2 {
    text-align: center;
    background-color: aqua;
    border: 5px solid black;
}

h3 {
    padding: 2px;
    text-align: center;
    border: 5px solid black;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;

}

.multimedia {
    text-align: center;
}

footer {
    padding-bottom: 20px;
    text-align: center;
    background-color: beige;
    border: 3px solid black;
}

.direcciona {
    border: 5px solid black;
}